# Unsplash API Credentials Configuration Template
# Copy these keys into your Vercel Project Environment Variables

UNSPLASH_ACCESS_KEY=MsUM1e0SPOJPWpyt-S9HrHpCsFansrRYmKk9BW4dLh4
UNSPLASH_SECRET_KEY=Gla2iA08lU0xMowf5jVY1Mk2t88TF-NsJ3dw8Es-my8
